<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--# turn off directory browsing-->
    <location path="~">
        <system.webServer>
            <directoryBrowse enabled="false" />
        </system.webServer>
    </location>
    <system.web>
    </system.web>
    <system.webServer>
        <!--# show custom error pages for these HTTP statuses-->
        <httpErrors errorMode="Custom" defaultResponseMode="File">
            <remove statusCode="401" />
            <remove statusCode="403" />
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="401" path="404.html" />
            <error statusCode="403" path="404.html" />
            <error statusCode="404" path="404.html" />
            <error statusCode="500" path="500.html" />
        </httpErrors>
        <!--# start rewrite rules-->
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <!--# pass through requests when the page exists-->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^([a-zA-Z0-9\-]+)\/?$" />
                    <conditions>
                        <!--# Remove the .html extension-->
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
                <!--# pass anything ending in HTML - prevents infinite redirect if the wildcard formulas below are incorrect-->
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*).html$" ignoreCase="false" />
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
